//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.c-fa__size{
  font-size: 3rem;
}

.c-fa__star1{
  &::after{
    content: '★☆☆☆☆';
    display: block;
    margin-top: 2rem;;
    font-size: 3rem;
  }
}
.c-fa__star2{
  &::after{
    content: '★★☆☆☆';
    margin-top: 2rem;
    display: block;
    font-size: 3rem;
  }
}
.c-fa__star3{
  &::after{
    content: '★★★☆☆';
    margin-top: 2rem;
    display: block;
    font-size: 3rem;
  }
}
.c-fa__star4{
  &::after{
    content: '★★★★☆';
    margin-top: 2rem;
    display: block;
    font-size: 3rem;
  }
}
.c-fa__star5{
  &::after{
    content: '★★★★★';
    margin-top: 2rem;
    display: block;
    font-size: 3rem;
  }
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
