//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.c-sec{
  padding:4rem 5px 8rem;

  @include breakpoint(xs) {
    padding:4rem 20px 8rem;
  }

  h3{
    padding-bottom:2rem;
    border-bottom: 1px solid ;
  }
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
