//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.c-page__top {
	position: fixed;
	right: 15px;
	bottom: 30px;

	a {
		display: block;
		font-size: 0;
		width: 50px;
		height: 50px;
		background: $green;
		opacity: 0.7;
		border-radius: 50%;
		line-height: 50px;

		i {
			font-size: 2.5rem;
			color: $gray03;
			line-height: 50px;
		}
	}
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
