//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------
//  color
$white:#ded8dd;
$gray01:#2b3231;
$gray02:#222928;
$gray03:#333b3a;
$green:#506f34;

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
