//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.u-pos {
  //  固定
  &-fix {
    position: fixed;
  }

  // 相対位置への配置
  &-rel {
    position: relative;
  }

  //  絶対位置への配置
  &-abs {
    position: absolute;
  }

  //  左上
  &-left-top {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }

  //  左中央
  &-left-center {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
  }

  //  左下
  &-left-bottom {
    position: absolute;
    bottom: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }

  //  中央上
  &-center-top {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  //  中央
  &-center-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  //  中央下
  &-center-bottom {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  //  右上
  &-right-top {
    position: absolute;
    top: 0%;
    right: 00%;
    transform: translate(0%, 0%);
  }

  //  右中央
  &-right-center {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
  }

  //  右下
  &-right-bottom {
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(0%, 0%);
  }
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
