//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.u-text__size {
	&--top{
		font-size: 3rem;
		font-weight: bold;
	}

	&--main{
		font-size: 4rem;
		font-weight: bold;
	}

	&--ttl {
		font-size: 2rem;
		font-weight: bold;
	}

	&--txt {
		font-size: 1.6rem;
		line-height: 2;
	}

	&--note{
		font-size: 1rem;
		line-height: 3;

	}
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
