//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------



//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.u-z-index1 {
  z-index: (100 - 0);
}
.u-z-index2 {
  z-index: (100 - 1);
}
.u-z-index3 {
  z-index: (100 - 2);
}
.u-z-index4 {
  z-index: (100 - 3);
}
.u-z-index5 {
  z-index: (100 - 4);
}
.u-z-index6 {
  z-index: (100 - 5);
}
.u-z-index7 {
  z-index: (100 - 6);
}
.u-z-index8 {
  z-index: (100 - 7);
}
.u-z-index9 {
  z-index: (100 - 8);
}
.u-z-index10 {
  z-index: (100 - 9);
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/


