//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.p-sec02 {
	&__main {
		padding: 3rem 5px 0;

		@include breakpoint(lg) {
			padding: 8rem 0 0;
		}

		&--skill {
      max-width: 70vw;
      margin: 0 auto;
			padding: 1rem;

			@include breakpoint(lg) {
				padding: 4rem;
			}
		}
	}
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
