//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.p-sec05 {
	&__main {
		padding: 3rem 5px 0;

		@include breakpoint(lg) {
			padding: 8rem 0 0;
		}
	}
}

.p-sec05__form {
	width: 100%;
	padding: 0 1rem;

	@include breakpoint(lg) {
		width: 70%;
		padding: 4rem 8rem;
	}

	ul {
		width: 100%;

		li + li {
			margin-top: 4rem;
		}

		label {
			color: $white;
		}

		input {
			padding: 1rem 2rem;
			width: 100%;
			color: $white;
			background-color: $gray01;
			border: 1px solid transparent;
			transition: all 0.25s;

			&:focus {
				border: 1px solid rgba($white, 0.5);
			}
		}

		textarea {
			padding: 1rem 2rem 25rem;
			width: 100%;
			color: $white;
			background-color: $gray01;
			border: 1px solid transparent;
			transition: all 0.25s;

			&:focus {
				border: 1px solid rgba($white, 0.5);
			}
		}

		button {
			padding: 2rem 4rem;
			color: $white;
			background-color: $gray01;
			transition: all 0.25s;

			&:hover {
				background-color: $green;
			}
		}
	}
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
