//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.p-sec01 {
	&__main {
		padding: 3rem 5px 0;

		@include breakpoint(lg) {
			padding: 8rem 0 0;
		}

		&--img {
			width: 100%;

			@include breakpoint(lg) {
				width: 40%;
			}

			img {
				width: 250px;
				height: 250px;

				@include breakpoint(lg) {
					width: 350px;
					height: 350px;
				}
			}
		}

		&--prof {
			padding-top: 3rem;
			width: 100%;

			@include breakpoint(lg) {
				padding-top: 0;
				width: 60%;
			}

			table {
				padding: 1rem;

				@include breakpoint(lg) {
					padding: 4rem;
				}
			}

			tr:nth-child(3),
			tr:nth-child(5),
			tr:nth-child(7) {
				padding-top: 2rem;
			}

			th {
				padding-right: 2rem;
				border-bottom: 2px solid $white;
			}

			td {
				padding: 0.5rem 0 0;
			}
		}
	}
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
