//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.p-sec03 {
	&__main {
		padding: 3rem 10px 0;

		@include breakpoint(lg) {
			padding: 8rem 20px 0;
		}

		img {
			width: 100%;
			height: 15rem;
			margin: 1rem 0;

			@include breakpoint(xs) {
				height: 30rem;
				margin: 2rem 0;
			}
		}
	}
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
