//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.p-mv{
  height: 500px;
  margin-top: calc(2rem + 2rem + 2.4rem);
  background-image: url('../image/mv.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h2{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $gray02;
  }
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
